html{
    height:100%;
}

body {
    height: 100%;
    margin:0;
}

border,tr,td {
    border:none;
    padding:0;
    margin:0;
}

table {
    border-collapse: collapse; 
    border-spacing:0;
    border:none;
}

#topNavBar{
    z-index: 5;
    position:absolute;
    background-color: white;
    height:12.6vw;
    top:-12.5vw;
    width:100%;
    min-width:400px;
    -webkit-animation: topMenuDown 13s; /* Safari 4+ */
    -moz-animation:    topMenuDown 13s; /* Fx 5+ */
    -o-animation:      topMenuDown 13s;
    animation: topMenuDown 13s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#leftSide{
    position:absolute;
    width:12.6vw;
    height: calc(12.5vw * 6);
    min-height: 100vh;
    z-index: 5;
    background-color: white;
    left:-12.5vw;
    -webkit-animation: leftMenuIn 13s; /* Safari 4+ */
    -moz-animation:    leftMenuIn 13s; /* Fx 5+ */
    -o-animation:      leftMenuIn 13s;
    animation: leftMenuIn 13s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}


#rightSide{
    position:absolute;
    width:12.5vw;
    height: calc(12.6vw * 5);
    min-height: 100vh;
    z-index: 5;
    background-color: white;
    left: calc(12.5vw * 8);
    -webkit-animation:  rightMenuIn 13s; /* Safari 4+ */
    -moz-animation:     rightMenuIn 13s; /* Fx 5+ */
    -o-animation:       rightMenuIn 13s;
    animation: rightMenuIn 13s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}


#mainLogoText{
    z-index: 5;
    position: absolute;
    color: white;
    width: 100%;
    text-align: center;
    top: 18vw;
    font-size:2em;
    pointer-events : none;
    -webkit-animation:  bringInLogo 11s; /* Safari 4+ */
    -moz-animation:     bringInLogo 11s; /* Fx 5+ */
    -o-animation:       bringInLogo 11s;
    animation: bringInLogo 11s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#mainLogoText2{
    z-index: 5;
    position: absolute;
    color: white;
    width: 100%;
    text-align: center;
    top: 18vw;
    font-size:2em;
    pointer-events : none;
    -webkit-animation:  bringInLogo2 13s; /* Safari 4+ */
    -moz-animation:     bringInLogo2 13s; /* Fx 5+ */
    -o-animation:       bringInLogo2 13s;
    animation: bringInLogo2 13s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}


#startBlack{
    background-color:black;
    width:100vw;
    height: calc(12.5vw * 5);
    z-index:-1;
    position:absolute;
}


#fadeBlack{
    background-color:black;
    width:100vw;
    height: calc(12.5vw * 5);
    z-index: 2;
    opacity:0.8;
    position:absolute;
    pointer-events : none;
}

#topLeftLogo{
    width:14vw;
    padding-left: 12.5vw;
}

#gridImageDiv{
    height:36vw;
    width:28vw;
    margin-left:5vw;
    overflow: hidden;
}

.coverAngle{
    background-color: white;
    width: 100%;
    height: 60vw;
    transform: skewY(-20deg);
    z-index: 1;
    position: absolute;
    overflow:hidden;
    
    box-shadow: 5px 2px 5px grey;
}

.navOption{
    color:gray;
    padding-left:12px;
    font-size:1.2em;
}

.bgImage{
    width:12.5vw;
    height:12.5vw;
    z-index:1;
    position:relative;
    opacity:0;
    overflow: hidden;
    min-width:70px;
    min-height: 70px;
}

.logoImages{
    z-index:3;
    position:absolute;
    top:50px;
    left:12vw;
    height:35vW;
    width:35vw;
}

.movingLogo{
    z-index:4;
    position:absolute;
    top:50px;
    left:12vw;
    height:35vw;
    width:35vw;
}

.informationBar{
    height:100%;
    width:50vw;

}

.informationTitle{
    font-size:3em;
    text-align:center;
    padding-top: 100px;
}

.informationText{
    font-size:1.2em;
    padding: 0 5vw;
}

.informationButton{
    border-style: solid;
    border-width:2px;
    border-color: black;
    width:30vw;
    border-radius:30px;
    text-align: center;
    margin: auto;
    height:3em;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 300px;
}

.informationButton a{
    text-decoration: none;
    margin: 1em;
}

#theTableDiv{
    overflow: hidden;
    position:absolute;
    width:100vw;

    min-height: 560px;
}

.firstIn{
    -webkit-animation:  fadeInOne 10s; /* Safari 4+ */
    -moz-animation:     fadeInOne 10s; /* Fx 5+ */
    -o-animation:       fadeInOne 10s;
    animation:fadeInOne 10s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.secondIn{
    -webkit-animation:  fadeInTwo 10s; /* Safari 4+ */
    -moz-animation:     fadeInTwo 10s; /* Fx 5+ */
    -o-animation:       fadeInTwo 10s;
    animation:fadeInTwo 10s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.thirdIn{
    -webkit-animation:  fadeInThree 10s; /* Safari 4+ */
    -moz-animation:     fadeInThree 10s; /* Fx 5+ */
    -o-animation:       fadeInThree 10s;
    animation:fadeInThree 10s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.fourthIn{
    -webkit-animation:  fadeInFour 10s; /* Safari 4+ */
    -moz-animation:     fadeInFour 10s; /* Fx 5+ */
    -o-animation:       fadeInFour 10s;
    animation:fadeInFour 10s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}


@-webkit-keyframes fadeInOne {
    0%  {opacity:0;}
    20%, 100% {opacity:1;}
}
@-moz-keyframes fadeInOne {
    0%  {opacity:0;}
    20%, 100% {opacity:1;}
}
@-o-keyframes fadeInOne {
    0%  {opacity:0;}
    20%, 100% {opacity:1;}
}
@keyframes fadeInOne {
    0%  {opacity:0;}
    20%, 100% {opacity:1;}
}



@-webkit-keyframes fadeInTwo {
    0%, 15%  {opacity:0;}
    40% {opacity:1;}
    100% {opacity:1;}
}
@-moz-keyframes fadeInTwo {
    0%, 15%  {opacity:0;}
    40% {opacity:1;}
    100% {opacity:1;}
}
@-o-keyframes fadeInTwo {
    0%, 15%  {opacity:0;}
    40% {opacity:1;}
    100% {opacity:1;}
}

@keyframes fadeInTwo {
    0%, 15%  {opacity:0;}
    40% {opacity:1;}
    100% {opacity:1;}
}


@-webkit-keyframes fadeInThree {
    0%, 30%  {opacity:0;}
    60%, 100% {opacity:1;}
}
@-moz-keyframes fadeInThree {
    0%, 30%  {opacity:0;}
    60%, 100% {opacity:1;}
}
@-o-keyframes fadeInThree {
    0%, 30%  {opacity:0;}
    60%, 100% {opacity:1;}
}

@keyframes fadeInThree {
    0%, 30%  {opacity:0;}
    60%, 100% {opacity:1;}
}



@-webkit-keyframes fadeInFour {
    0%, 50%  {opacity:0;}
    80%, 100% {opacity:1;}
}

@-moz-keyframes fadeInFour {
    0%, 50%  {opacity:0;}
    80%, 100% {opacity:1;}
}

@-o-keyframes fadeInFour {
    0%, 50%  {opacity:0;}
    80%, 100% {opacity:1;}
}

@keyframes fadeInFour {
    0%, 50%  {opacity:0;}
    80%, 100% {opacity:1;}
}



@-webkit-keyframes topMenuDown {
    0%, 80% {transform: translateY(0px);}
    90%, 100% {transform: translateY(12.5vw);}
}

@-moz-keyframes topMenuDown {
    0%, 80% {transform: translateY(0px);}
    90%, 100% {transform: translateY(12.5vw);}
}

@-o-keyframes topMenuDown {
    0%, 80% {transform: translateY(0px);}
    90%, 100% {transform: translateY(12.5vw);}
}

@keyframes topMenuDown {
    0%, 80% {transform: translateY(0px);}
    90%, 100% {transform: translateY(12.5vw);}
}



@-webkit-keyframes leftMenuIn {
    0%, 80% {transform: translateX(0px);}
    90%, 100% {transform: translateX(12.5vw);}
}

@-moz-keyframes leftMenuIn {
    0%, 80% {transform: translateX(0px);}
    90%, 100% {transform: translateX(12.5vw);}
}

@-o-keyframes leftMenuIn {
    0%, 80% {transform: translateX(0px);}
    90%, 100% {transform: translateX(12.5vw);}
}

@keyframes leftMenuIn {
    0%, 80% {transform: translateX(0px);}
    90%, 100% {transform: translateX(12.5vw);}
}


@-webkit-keyframes rightMenuIn {
    0%, 80% {transform: translateX(0px);}
    90%, 100% {transform: translateX(-12.5vw);}
}

@-moz-keyframes rightMenuIn {
    0%, 80% {transform: translateX(0px);}
    90%, 100% {transform: translateX(-12.5vw);}
}

@-o-keyframes rightMenuIn {
    0%, 80% {transform: translateX(0px);}
    90%, 100% {transform: translateX(-12.5vw);}
}

@keyframes rightMenuIn {
    0%, 80% {transform: translateX(0px);}
    90%, 100% {transform: translateX(-12.5vw);}
}



@-webkit-keyframes bringInLogo {
    0%, 60% {opacity: 0;}
    70%, 90% {opacity:1;}
    90%, 100% {opacity:0;}
}

@-moz-keyframes bringInLogo {
    0%, 60% {opacity: 0;}
    70%, 90% {opacity:1;}
    90%, 100% {opacity:0;}
}

@-o-keyframes bringInLogo {
    0%, 60% {opacity: 0;}
    70%, 90% {opacity:1;}
    90%, 100% {opacity:0;}
}

@keyframes bringInLogo {
    0%, 60% {opacity: 0;}
    70%, 90% {opacity:1;}
    90%, 100% {opacity:0;}
}

@keyframes bringInLogo2 {
    0%, 70% {opacity: 0;}
    80%, 100% {opacity:1;}
}